<h2>Edit Car</h2>
<div class="form-group">
<label>Marque</label>
<input type="text" class="form-control" [(ngModel)]="car.marque">
</div>

<div class="form-group">
<label>kilometrage</label>
<input type="number" class="form-control" [(ngModel)]="car.kilometrage">
</div>

<div class="form-group">
<label>affected_date</label>
<input type="Date" class="form-control" [(ngModel)]="car.Affected_date">
</div>

<div class="form-group">
<label>periode</label>
<input type="number" class="form-control" [(ngModel)]="car.periode">
</div>

<div class="form-group">
<label>affected_to</label>
<select class="form-control" [(ngModel)]="car.affected_to">
<option value="Ghassen">Ghassen</option>
<option value="Sofien">Sofien</option>
<option value="Jamel">Jamel</option>

</select>
</div>


<div class="form-group">
<label>Status</label>
<select class="form-control" [(ngModel)]="car.status">
<option value="affected">Affected</option>
<option value="disponible">Disponible</option>
<option value="panne">Panne</option>

</select>
</div>
<button class="btn btn-success" (click)="editCar()"> Edit Car</button>