<div class="collapse d-md-flex bg-dark" id="sidebar">
  <ul class="nav flex-column flex-nowrap">
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item">
          <a class="nav-link " href="#submenu1" data-toggle="collapse" data-target="#submenu1">Materi <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
          <div class="collapse" id="submenu1" aria-expanded="false">
              <ul class="flex-column pl-2 nav">
                  <li class="nav-item"><a class="nav-link py-0" href="">Desain</a></li>
                  <li class="nav-item">
                      <a class="nav-link collapsed py-0" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1">Website</a>
                      <div class="collapse small" id="submenu1sub1" aria-expanded="false">
                          <ul class="flex-column nav pl-4">
                              
                              <li class="nav-item">
                                  <a class="nav-link p-0" href="">
                                       HTML CSS
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link p-0" href="">
                                       Javascript
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link p-0" href="">
                                       PHP
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Alumni</a></li>
  </ul>
</div>


